html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    list-style: none;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: rgb(93, 245, 237);
    background: radial-gradient(
        circle,
        rgb(245, 93, 113) 37%,
        rgb(93, 85, 206) 57%,
        rgb(48, 172, 69) 86%
    );

    padding: 30px 5px;
}
.search-form {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 427px;
}
.search-field {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 30px;
    width: 320px;
}
.btn {
    border: 1px solid black;
    border-radius: 4px;
    border-color: #3498db;
    color: black;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    padding: 10px 20px;
    font-size: 20px;
    height: auto;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button.is-hidden {
    display: none;
}

.button > .spinner.is-hidden {
    display: none;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-thumb {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
}

.photo-card__img {
    border-radius: 4px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    object-fit: cover;
    background-color: unset;
}
